node_modules/
.next/
.turbo/
.vercel/
.env
.env.local
.env.production
.env.*.local

vendor/
var/
public/bundles/
public/build/

composer.lock
package-lock.json
pnpm-lock.yaml
yarn.lock

coverage/
.DS_Store
dist/
build/
logs/
tmp/
*.log

**/.idea/
**/.vscode/
**/.fleet/

docker-compose.override.yml


